footer {
 width: 100%;
 left: 0;
 padding: 2rem 8%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 position: absolute;
 bottom: 0;
}
.social-network{

  display: flex;
  justify-content: center;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin: auto;


}




    
    
    
    
    
 
  